<!-- math.component.html -->

<div class="app">
  <h1>Bienvenue au quiz de physique-chimie</h1>

  <!-- Pseudo input -->
  <div *ngIf="!pseudoEntered">
    <form #pseudoForm="ngForm" (ngSubmit)="addPlayer(pseudoForm)">
      <input type="text" placeholder="Entrez votre pseudo" name="pseudo" [(ngModel)]="pseudo" required>
      <button class="btn" type="submit">Confirmer</button>
    </form>
  </div>

  <!-- Commencer le quiz button -->
  <button class="btn" (click)="startQuiz()" *ngIf="!quizStarted && pseudoEntered">
    Commencer le quiz
  </button>

  <div class="quiz" *ngIf="quizStarted">
    <div class="timer-box">
      <p class="timer-text">Time Left: {{ timeLeft }} seconds</p>
    </div>
    <h2 id="question">{{ physiqueQuestions[currentQuestionIndex]?.question }}</h2>
    <div id="answer-buttons">
      <button class="btn" *ngFor="let answer of getAnswersByQuestionId(physiqueQuestions[currentQuestionIndex]?.id)"
              (click)="selectAnswer(answer.id)"
              [ngClass]="{
          'selected': selectedAnswerId === answer.id,
          'correct': selectedAnswerId === answer.id && answer.response_value,
          'wrong': selectedAnswerId === answer.id && !answer.response_value
        }"
              [disabled]="answerSelected">
        {{ answer.response }}
      </button>
    </div>
    <p>{{ feedbackMessage }}</p>
    <button id="next-btn" (click)="nextQuestion()">
      {{ nextButtonText() }}
    </button>

    <!-- Score Box -->
    <div *ngIf="showScoreBox" class="score-box">
      <p style="font-size: 25px; color: #3A1C71; font-weight: 600; border-bottom: 1px solid #333; padding-bottom: 30px;">
        Votre score est: {{ correctAnswers }} sur 5
      </p>
      {{ rankingMessage }}
    </div>
  </div>
</div>
