<div class="app">
  <h1>Bienvenue au quiz de physique-chimie</h1>
  <div class="quiz">
    <h2 id="question">{{ physiqueQuestions[currentQuestionIndex]?.question }}</h2>
    <div id="answer-buttons">
      <button class="btn" *ngFor="let answer of getAnswersByQuestionId(physiqueQuestions[currentQuestionIndex]?.id)"
              (click)="selectAnswer(answer.id)"
              [ngClass]="{
          'selected': selectedAnswerId === answer.id,
          'correct': selectedAnswerId === answer.id && answer.response_value,
          'wrong': selectedAnswerId === answer.id && !answer.response_value
        }"
              [disabled]="answerSelected"> <!-- Disable the button if an answer is selected -->
        {{ answer.response }}
      </button>

    </div>
    <p>{{ feedbackMessage }}</p>
    <button id="next-btn" (click)="nextQuestion()">
      {{ nextButtonText() }}
    </button>

  </div>
</div>
